@mixin font-face() {
    @font-face {
        font-family: 'Lora';
        src: url('/fonts/lora-medium.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Merriweather';
        src: url('/fonts/merriweather-regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Merriweather';
        src: url('/fonts/merriweather-bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
}
