---
const { headline = "[Stadt]", link } = Astro.props;
---

<div class="card">
    <h2>{headline}</h2>
    <p>
        <slot />
    </p>
    <a href="{ link }">weiter</a>
    <slot name="footer"/>
</div>

<style>
    .card {
        background-color: var(--color-light-gray);
        padding: 0 var(--spacing-1) var(--spacing-2);
        border-radius: var(--standard-border-radius);
    }

    h2 {
        font-size: var(--scale-2);
        margin: var(--spacing-2) 0 var(--spacing-2);
    }

    img {
        margin-bottom:  var(--spacing-1);
    }
</style>
